<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}">
    </head>
    <body>
        <!--Lihat Data-->
        <div class="card">
            <h3>Lihat Data</h3>
            <table>
                <tr>
                    <th>NPM</th>
                    <th>Nama</th>
                    <th>Jurusan</th>
                    <th colspan="2">Opsi</th>
                </tr>
                {% for mhs in data %}
                <tr>
                    <td>{{mhs['_id']}}</td>
                    <td>{{mhs['Nama']}}</td>
                    <td>{{mhs['Jurusan']}}</td>
                    <td><a href="{{url_for('edit',npm = mhs['_id'])}}">Edit</a></td>
                    <td><a href="{{url_for('hapus',npm = mhs['_id'])}}">Hapus</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!--Tambah Data-->
        <div class="card">
            <h3>Tambah Data</h3>
            <form method="POST">
                <table>
                    <tr>
                        <th>NPM</th>
                        <td><input type="text" name="NPM" required></td>
                    </tr>
                    <tr><tr>
                        <th>Nama</th>
                        <td><input type="text" name="Nama" required></td>
                    </tr>
                        <th>Jurusan</th>
                        <td><input type="text" name="Jurusan" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Simpan"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
